@import "compass/css3";
@import "compass/css3/box";
$colorGray:#666;
$colorbgGray:#eee;
body{
	background: #fff;
}
.width1200{
	width:1200px;
	margin:0 auto;
}
/*header*/
.header{
	padding:25px 0 20px 0;
	height:40px;
	.logo{
		width:220px;
		height: 40px;
		padding-right: 60px;
		vertical-align: center;
		float: left;
	}
	.tab_ul{
		float: left;
		&>li{
			height: 35px;
			line-height: 35px;
			position:relative;
			float: left;
			padding-bottom:35px;
		}
		a.tab_ul_link{
			height: 35px;
			line-height: 35px;
			padding: 0 28px;
			color:$colorGray;
			display: inline-block;
			cursor: pointer;
			text-align: center;
			overflow: hidden;
			@include border-radius(100px); 

			&.active,&:hover{
				background: #185190;
				color:#fff;
			}
			&.double{
				height:45px;
				width:167px;
				padding:0;
				line-height: 20px;
			}
			/*position:relative;*/
			

		}
	}
	
}
.trangile_css{
	font-size: 0;  
    line-height: 0;  
    border-width: 5px;  
    border-color: #1f2870;  
    border-top-width: 0;  
    border-style: dashed;  
    border-bottom-style: solid;  
    border-left-color: transparent;  
    border-right-color: transparent; 
    position: absolute;
    top:-5px;
    left:50%;
    margin-left: -2px;
}
.sub_tab_ul{
	@include border-radius(5px);
	display: none;
	position: absolute;
	top:100%;
	width: 150px;
	background:#1f2870;
	padding:5px;
	left:50%;
	margin-left: -75px;
	&.sub_tab_ul_3{
		width:210px;
		margin-left: -105px;
	}
	li.J_sub_tab_ul_li{
		background-color: #1f2870;
		color:#fff;
		float: none;
		display: inline-block;
		width:100%;
		height: 35px;
		line-height: 35px;
		text-align: center;
		@include border-radius(3px);
		&.active{
			background-color:#aa825b;
			color:#1f2870;
			.sub_tab_ul_link{
				color:#1f2870;
			}
		};
	}
	.sub_tab_ul_link{
		text-align: center;
		/*background-color: #1f2870;*/
		color:#fff;
		/*float: none;
		display: inline-block;
		width:100%;
		height: 35px;
		line-height: 35px;
		text-align: center;
		@include border-radius(3px);*/

		/*&:hover{
			background-color:#aa825b;
			color:#1f2870;
		};*/
	}


}
$colorBlue:#185190;
mark{
	font-size: 16px!important;
}
.news_cnt .news_rt .news_rt_dl dd mark,.business_content_one .business_content_z .business_list_cnt dd h3 mark{
	font-size: 19px!important;
}
.aboutus_cnt .aboutus_left_cnt .title mark{
	font-size: 24px!important;
}
.about_content_one .about_content_one_cn dd h3 mark,.business_content_one .business_content_z .business_title mark{
	font-size: 20px!important;
}
.news_content_one .newscentre_cnt .newscentre_left_cnt .title mark{
	font-size: 30px!important;
}
.newscentre_rt_nav li p mark{
	font-size: 18px!important;
}
.common_title{
	padding-top: 80px;
	line-height: 50px;
	font-size: 30px;
	border-bottom:1px solid #acacac;
	position: relative;
	span{
		display: inline-block;
		background: #fff;
		padding:0 24px;
		position: absolute;
		top:55px;
		font-size: 30px;
		color: $colorBlue;
		left:50%;
		margin-left:-102px;
		width:150px;
		text-align:center;
		background-color: $colorbgGray;
		mark{
			font-size: 30px!important;
		}
	}
	
}

.tranigle{
	padding-top: 20px;
	text-align: center;
}
.footer{
	/*background-color: #1a1a1a;*/
	background-color: #0d3049;
	padding:48px 0 42px 0;
	.footer_cnt{
		overflow: hidden;
	}
	.footer_left{
		padding-right: 15px;
		float: left;
		padding-top: 20px;
		img{
			width:220px;
			vertical-align: middle;
		}
	}
	.footer_right{
		float: left;
		padding-left:14px;
		border-left:1px solid #282828;
		ul{
			float: left;
			padding:6px;
			li{
				line-height:25px;
				font-size: 12px;
				color:#666;
				height:25px;
				img{
					padding-right: 10px;
				}
				span,img{
					vertical-align: middle;

				}
				.footer_span_phone{
					padding-right: 27px;
				}
				.footer_span_email{
					padding-right: 27px;
				}
			}
		}
		.language_tab{
			float: left;
			padding: 64px 0px 0 70px;
			font-size: 12px;
			color:#666;
			a{
				color:#666;
				padding:0 5px;
				&.active,&:hover{
					color:#fff;
				};
			}
			span{
				padding:0 5px;
			}
		}

	}
}
mark{
background-color: none;
}
.search{
	float: right;
	  position: relative;
	  width: 179px;
	  padding-left: 14px;
	  margin-top: -7px;
	.search_btn{
		width: 42px;
		height: 42px;
		margin-top: -5px;
		border:0;
	}
	form{
		float: left;
		width: 150px;
		margin-right: -12px;
		margin-top: 5px;
		display: block;
	   
	}
	.search_text{
		 float: left;
		  width: 135px;
		  height:32px;
			padding-left: 15px;
		  border: 1px solid #eee;
		  @include border-radius(100px);
		  margin-top: 3px;
		  color: #666;
		  margin-left: 16px;
		  &::-webkit-input-placeholder{
         		color: #999;
				font-size: 12px;
				text-align: left;
		  }
	}

	.suspension_search{
		width: 40px;
		height:40px;
		padding:5px 0;
		display: inline-block;
	}
	.suspension_search{
		position:absolute;
		right:0;
		background:url('../images/right_search.png') no-repeat;
		background-size: 40px;
		top:5px;
	}
}
/*悬浮*/
/*.suspension{
	position: fixed;
	right:100px;
	bottom:260px;
	width:200px;
	height:115px;
	.search{
		form{
			float: left;
		    width: 170px;
		    margin-right: -12px;
		    margin-top: 5px;
		    display: block;
		   
		}
		input{
			float: left;
		    width: 170px;
		    height: 40px;
		    border: 0;
		    border: 1px solid #eee;
		    @include border-radius(100px);
		}
	}
	.suspension_language_eng,.suspension_search{
		width: 51px;
		height:51px;
		padding:5px 0;
		display: inline-block;
	}
	.suspension_language_eng{
		padding-left:150px;
		background: url('../images/search_eng.png') no-repeat;
	}
	.suspension_search{
		position:absolute;
		right:0;
		background:url('../images/right_search.png') no-repeat;
	}
}*/




